<div class="title">
    <h1>¡ Porfavor<br />Escanea tus documentos</h1>


    <div style="display: inline-block;">

        <ion-card class="card1">
         

            <ion-card-content style="width: 1000px;">
                <div class="file-upload-wrapper">
                    <ion-card-title>Foto</ion-card-title>
                    <ion-icon name="images" slot="images" style="color: black;"></ion-icon>
                    <input type="file" id="input-file-now" class="file-upload" />
                </div>
                <ion-card-title>Identificacion</ion-card-title>
                <ion-icon name="finger-print" slot="finger-print" style="color: black;"></ion-icon>
                <div class="file-upload-wrapper">
                    <input type="file" id="input-file-now" class="file-upload" />
                </div>
                <ion-card-title>Historial clinico</ion-card-title>
                <ion-icon name="clipboard" slot="clipboard" style="color: black;"></ion-icon>
                <div class="file-upload-wrapper">
                    <input type="file" id="input-file-now" class="file-upload" />
                </div>
            </ion-card-content>
        </ion-card>

    </div>




</div>