<div class="card" (click)="modalConoce()">
  <img class="imagenes" src="assets/img/seguro.jpg" alt="" />
  <h1>Conoce mas</h1>
  <p>Ayudaremos a proteger a los que mas amas seguro y simple</p>
</div>

<div class="card" (click)="modalConoce()">
  <img class="imagenes" src="assets/img/online.jpg" alt="" />
  <h2>Simple</h2>
  <p>
    Olvidate de los papeleos y de las confusiones ala hora de adquirir un seguro
  </p>
  <h2>Seguro</h2>
  <p>Te ofrecemos tu seguro de vida en linea</p>
</div>
<div class="card" (click)="modalConoce()">
  <h2>¿Quienes Somos?</h2>

  <p>
    Somos FastLife una compañia digital,estamos Conformados por un equipo joven
    Con la motivacion de cambiar la industria de los seguros Queremos protegerte
    a ti y a tu familiacontra cualquier riesgo que se presente en la vida.
  </p>
</div>

<div class="card" (click)="modalAdquirir()">
  <h1>Debes Saber Esto de Tu Seguro De Vida</h1>
  <p>
    edad pra adquirir tu seguro de vida desde los 18 hasta los 65 años entre mas
    joven mas barato tiende a ser tu seguro. Recuerda: Cuando tienes a alguien
    que depende de ti ,obtener un seguro de vida
  </p>
</div>
