

.margin{

    margin-left: 15px;
}
    .linea{
        border: 1px solid gray;
       
    }

    .card{

        height:max-content;
    }

    .edad{
        padding: 7px;
        
    }

    .nombre{
        padding: 7px;
       
    }

    .apellido{
       
        padding: 7px;
        
    }

    .genero{

        padding: 7px;
       
    }


    .cuadrado{
        width:150px;
        height:150px;
        background-color:#2980b9;
        margin: 20px;
        color:#fff;
        line-height:150px;
    }
    
    .cuadrado:hover{
        background-color:#c0392b;
        width:200px;
        box-shadow:0px 0px 6px #000;
    }
    
    #transition{
      -webkit-transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
      -moz-transition:background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
      -o-transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
      -ms-transition:background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
      transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
    }
    

    footer{

        // border: 2px solid black;
        height: 10%;
    }

    .botondate{
        padding: 8px;
        margin: 4px;
        width: auto;
        font-size: 37px;
        border-radius: 50%;
    }
  