<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ! Consulta Tu Poliza ¡
      <ion-button [routerLink]="['/login']" style="float: right;" color="danger"><ion-icon name="log-out"></ion-icon></ion-button>

      <!-- <ion-button style="float: right;"></ion-button> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  



  <div class="card-deck mt-4 ml-3 mr-2">
      <div class="card mr-3" >
          <div class="card1 col-6 col-md-12">
              <h5 class="margin">Datos personales</h5>
              <div class="card-body">
                <ion-item>
                  <ion-label>Nombre:</ion-label>
                  <ion-input type="text" [(ngModel)]="this.nombre" name="firts" aria-placeholder="username"></ion-input>
                </ion-item>
          
                <ion-item>
                  <ion-label>Apellido :</ion-label>
                  <ion-input type="text" [(ngModel)]="this.apellido" name="firts" aria-placeholder="username"></ion-input>
                </ion-item>
          
                <ion-item style="margin-bottom: 20px;">
                  <ion-label>Edad :</ion-label>
                  <ion-input type="text" [(ngModel)]="this.edad" name="firts" aria-placeholder="username"></ion-input>
                </ion-item>
                <ion-label>Genero</ion-label>
                <div class="alert alert-success" role="alert">
                    
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="femenino" name="defaultExampleRadios">
                    <label class="custom-control-label" for="femenino">Femenino</label>
                  </div>
                  <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="Masculino" name="defaultExampleRadios">
                      <label class="custom-control-label" for="Masculino">Masculino</label>
                    </div>
                </div>
          
          
                <button class="boton" type="submit" (click)="envio()">Cotizar</button>
              </div>
            </div>

      </div>
      
      <div class="card" *ngIf="tabla">
          <h5 class="margin">Protegelos</h5>
          <table class="table" *ngIf="tabla">
            
              <thead class="thead-dark">
                <tr>
                  
                  <th scope="col">Valor asegurado</th>
                  <th scope="col">Prima anual</th>
                  <th scope="col">Prima mensual</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{valorAsegurado}}</td>
                  <td>{{primaA}}</td>
                  <td>{{primaM}}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    

</ion-content>