<ion-header>
  <ion-toolbar>
    <ion-title>Coberturas</ion-title>
    <ion-button [routerLink]="['/login']"><ion-icon name="log-out"></ion-icon></ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card2">
  
      <ul>
        <li>Basica
          <ul>
            <li>
              Vida :<p>Cuando la persona asegurada fallece se le ofrece el reconocimiento de la suma asegurada a los beneficiarios de la poliza</p>
            </li>
          </ul>
        </li>
        <li>Adicional
            <ul>
              <li>
                Incapacidad Total y Permanente :<p>En caso de que el asegurado no pueda desarrollar una actividad 
                 a causa de una incapacidad o invalidez amparada, recibira  un dinero mensualmente durante  un tiempo determinado.
                </p>
              </li>
              <li>
                  Indemnnizacion Adicional Por Muerte:<p>En el caso de fallecimiento de la persona asegurada a causa de un accidente cubierta por la póliza
                  ,los beneficiarios recibiran una indemnizacion adicional a la suma asegurada.
                  </p>
              </li>
              <li>
                    Desmenbración Accidental:<p>Aplica Cuando el asegurado sufre un accidente como la perdida de sus mienbros , organos,
                    facultades o cuando la persona no puede caminar pero sus  piernas no han sido amputadas
                  </p>
             </li>
              <li>
                  Enfermedades Graves:<p>En el caso de ser diagnosticada por primeraa vez  una enfermedad grave amparada alaa persona asegurada en la poliza,
                  y despues de haberse cumplido el periodo de carencia.</p>
              </li>
            </ul>
          </li>
      </ul>
    </div>
  </ion-content>
