<ion-header>
    <ion-toolbar>
        <ion-title>Debes Saber Esto De Tu Seguro De Vida</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="card3">


        <ul>
            <li>
                <h2 class="borde">1) Edad Para Adquirir Tu Seguro De Vida</h2>
                <ul>
                    <li style="font-size: 1.2rem">
                        Entre mas Joven mas economico tiende a ser tu seguro <br>
                        <div style="border: 2px solid cornflowerblue;padding: 7px;width: fit-content;margin-bottom: 4px;">Edad minima 18 años</div>
                        <div style="border: 2px solid firebrick; padding: 7px; width: fit-content;"> Edad maxima 64 años</div>
                        <h2 style="color: red"> Recuerda:</h2>
                        Cuando tienes a alguien que depende de ti ;Obtener un seguro de vida es la mejor opción piensa que si te llega q pasar algo , los dejarias en una situación vulnerable.

                    </li>
                </ul>
            </li>
            <li>
                <h2 class="borde">2) ¿ Como Puedo Pagarlo ?</h2>
                <ul>
                    <li style="font-size: 1.2rem">
                        <blockquote>Tu eliges como pagar tu seguro :
                            <p style="color: blue"> Anual / Mensual </p>
                        </blockquote>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="borde">3) Renueva Tu Poliza</h2>
                <ul>
                    <li style="font-size: 1.2rem">El proceso es anual y automatico hasta el termino de tu seguro.

                    </li>
                </ul>
            </li>

            <li>
                <h2 class="borde">4) ¿ Que Pasa Si Fallezco ?</h2>
                <ul>
                    <li style="font-size: 1.2rem">En caso de fallecimiento , tus beneficiarios deberan ponerse en contacto con nosotros notificarlo y comenzar el proceso con nosotros.

                    </li>
                </ul>
            </li>


            <div class="card2">
                <h1 style="color: crimson">¡ Importante !</h1>
                <img class="imagenes" src="assets/img/niño.gif" alt="" />
                <p style="font-size: 1.5rem">Comenta con tu familia cuando adquieras este seguro, para que ellos conozcan todos los beneficios de este.</p>


            </div>
        </ul>
    </div>
</ion-content>