


 
<ion-header>
  <ion-toolbar  color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     ¡Conocenos!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="card2">
  <h1 style="border-bottom: 1px solid black; text-align: center;">Seguro de vida</h1>



  <span>Este seguro ayuda  a proteger el futuro de los que mas quieres no hay mejpor opcion que los seguros de vida de Allianz . Consulta todas las ventajas y coberturas de este seguro </span><br><br>

  <span>Cubre un posible fallecimiento por accidente o enfermedad , sin informacion que te confunda; simple , facil y rapido .</span>
    </div>


    <img class="imagen" src="assets/img/fastlife.png" alt="">
    <img class="imagen"  style="width: 55%; height: 100px; margin-left: 74px;
    " src="assets/img/allianz.jpg" alt="">
</ion-content>

