<ion-header>
    <ion-toolbar>
        <ion-title>Exclusiones</ion-title>

    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="card2">

        <ul>
            <li>Cuando el asegurado actua de forma ilegal o en guerras.</li>
            <li>Actuar de mala fe y no declarar a la compañia de seguros todo antes de ingresar por primera vez.</li>
            <li>Los hechos que ocurran despues de la edad maxima de permanencia.</li>
            <li>Cuando el asegurado participa en deportes extremos.</li>

            <li>Accidentes causados por intervenciones quirurgicas.</li>

            <img class="imagenes" src="assets/img/deporte.jpg" alt="" />

        </ul>
    </div>
</ion-content>