<ion-header>
  <ion-toolbar>
    <ion-title>Exclusiones</ion-title>
    <ion-button [routerLink]="['/login']" style="float: right;" color="warning"><ion-icon name="log-out"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="card2">
  
      <ul>
        <li>Cuando el asegurado actua de forma  ilegal o en guerras </li>
        <li>Actuar de mala fe y no declarart ala compañia de seguros todo antes de ingresar por primera vez</li>
        <li>Los hechos que ocurran despues de la edad maxima de permanencia</li>
  
      </ul>
    </div>
  </ion-content>
  
  
