<div class="alert alert-primary" role="alert">
    ¡Sufre o ha sufrido de alguna enfermedad degenerativa?
    si , no  ¿cual?
</div>
<div class="alert alert-secondary" role="alert">
    ¿Eres adicto a alguna de esta sustancias?

</div>
<div class="alert alert-success" role="alert">
    ¿Practicas algun deporte de alto riesgo?
</div>
<div class="alert alert-danger" role="alert">
    ¿Tiernes alguna enfermedad de transmision sexual?
    si , no  ¿cual?
</div>

<div class="alert alert-danger" role="alert">
    ¿Ha sufrido fracturas en su cuerpo?
</div>
<div class="alert alert-danger" role="alert">
        ¿Alguno de sus familiares ha sufrido de algun cáncer?
    </div>


    